In [26]:
import pandas as pd

In [25]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
df = pd.DataFrame({'whoAmI':lst})
df.head()

  whoAmI
0  human
1  robot
2  human
3  human
4  human

In [27]:
pd.get_dummies(df['whoAmI']).astype(int)

    human  robot
0       1      0
1       0      1
2       1      0
3       1      0
4       1      0
5       0      1
6       1      0
7       1      0
8       0      1
9       1      0
10      0      1
11      1      0
12      0      1
13      0      1
14      0      1
15      0      1
16      1      0
17      1      0
18      0      1
19      0      1

In [28]:
robot = []
human = []
for elem in df['whoAmI']:
    if elem == "robot":
        robot.append("1")
        human.append("0")
    else:
        robot.append("0")
        human.append("1")    

df['robot'] = human
df['human'] = robot

print(df)

   whoAmI robot human
0   human     1     0
1   robot     0     1
2   human     1     0
3   human     1     0
4   human     1     0
5   robot     0     1
6   human     1     0
7   human     1     0
8   robot     0     1
9   human     1     0
10  robot     0     1
11  human     1     0
12  robot     0     1
13  robot     0     1
14  robot     0     1
15  robot     0     1
16  human     1     0
17  human     1     0
18  robot     0     1
19  robot     0     1